@model ShopMartWebsite.Models.ProductListViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    
    
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<div class="col-md-12 col-sm-12  ">
    <div class="x_panel">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Quản lý sản phẩm</li>
            </ol>
        </nav>
        <h2>QUẢN LÝ SẢN PHẨM</h2>
        <div class="row mb-3">
            <div class="col col-lg-12">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" name="searchterm" placeholder="Tìm kiếm..." value="@Model.SearchTerm" style=" margin-right: 5px;">
                        @if (Model.Categories != null && Model.Categories.Count() > 0)
                        {
                        <select name="categoryId" class="form-control col-md-3">
                            <option value="0">
                                Chọn loại sản phẩm
                                
                            </option>
                            @foreach (var category in Model.Categories) {
                                
                                    <option value="@category.id" selected="@(Model.categoryId==category.id)">
                                        @category.name
                                    
                                    </option>
                                
                             
                            }

                        </select>
                        }

                        <div class="input-group-append" id="button-addon4" style="margin-left: 5px;">
                            <button class="btn btn-outline-primary" type="submit"><i class="fa fa-search mr-1"></i> Search</button>
                            <a class="btn btn-outline-secondary" href="@Url.Action("Index", "Product")"><i class="fa fa-sync mr-1"></i> Reset</a>
                            <button data-href="@Url.Action("Action", "Product")" class="data-btn btn btn-outline-success" type="button" data-toggle="modal" data-target="#actionModal"><i class="fa fa-plus mr-1"></i> Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <div class="x_content">
            <div class="table-responsive">
                @{ Html.RenderPartial("_Listing", Model);
                }
            </div>


        </div>
    </div>
</div>
<!-- Modal -->

<div class="modal fade bd-example-modal-lg" id="actionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
    </div>
</div>
<!---->
<div class="modal fade bd-example-modal-xl" id="actionView" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">

    </div>
</div>
<script>
    $('.data-btn').click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        }).done(function (response) {
            $('#actionModal .modal-dialog').html(response);
        });
    });
    $('.data-btn-view').click(function () {
        $.ajax({
            url: $(this).attr("data-href"),
        }).done(function (response) {
            $('#actionView .modal-dialog').html(response);
        });
    });
</script>