@model ShopMartWebsite.Models.OrderListViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@if (Model != null && Model.Orders != null && Model.Orders.Count() > 0)
{
    <table class="table table-striped jambo_table bulk_action">
        <thead>
            <tr class="headings">

                <th class="column-title">Mã đơn hàng </th>
                <th class="column-title">Trạng thái </th>
                <th class="column-title">Ngày tạo </th>
                <th class="column-title">Người mua </th>
                <th class="column-title">Liên hệ KH</th>
                <th class="column-title">Tổng giá trị </th>
                <th class="column-title no-link last">
                    <span class="nobr">Action</span>
                </th>

            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Orders)
            {
                @if (item.status == true && item.confirm == false)
                {
                    <tr class="even pointer">

                        <td class="">@item.id</td>

                        <td class="" style="color: green;">Hiển thị</td>

                        <td class="">@item.createDate</td>
                        @if (item.user != null)
                        {
                            <td class="" style="color: green">@item.user.displayname</td>
                        }
                        else
                        {
                            <td class="" style="color: blue;">@item.customer</td>
                        }
                        @if (item.user != null)
                        {
                            <td class="">@item.user.Email</td>
                        }
                        else
                        {
                            <td class="">@item.info</td>
                        }


                        <td class="">@item.total (VNĐ)</td>

                        <td class=" last">

                            <button data-href="@Url.Action("Viewss", "Order", new { ID = item.id,total = item.total, customer = item.user!=null?item.user.displayname : item.customer })" class="data-btn-view btn btn-info" data-toggle="modal" data-target="#actionView" title="Xem chi tiết đơn hàng"><i class="fas fa-eye"></i></button>
                            <button data-href="@Url.Action("ConfirmOrder", "Order", new { ID = item.id, page= Model.Pager.CurrentPage })" title="Duyệt đơn hàng" class="data-btn btn btn-success" data-toggle="modal" data-target="#actionModal"><i class="fas fa-check"></i></button>
                        </td>
                    </tr>
                }

            }

        </tbody>
    </table>
    <!-- pager - sử dụng bootstrap - pagination -->
    if (Model.Pager.EndPage > 1)
    {
        <nav>
            <ul class="pagination">
                @if (Model.Pager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("OrderNotConfirm","Order", new { searchTerm = Model.SearchTerm, searchDate = Model.searchDate })">
                            <i class="fas fa-angle-double-left"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("OrderNotConfirm","Order", new { page = Model.Pager.CurrentPage - 1,
                                                  searchTerm = Model.SearchTerm, searchDate = Model.searchDate })">
                            <i class="fas fa-angle-left"></i>
                        </a>
                    </li>
                }

                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                    <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("OrderNotConfirm","Order", new { page = page,
                                                  searchTerm = Model.SearchTerm, searchDate = Model.searchDate })">@(page)</a>
                                            </li>}

                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("OrderNotConfirm","Order", new { page = Model.Pager.CurrentPage + 1,
                                                  searchTerm = Model.SearchTerm, searchDate = Model.searchDate })">
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("OrderNotConfirm","Order", new { page = Model.Pager.TotalPages,
                                                  searchTerm = Model.SearchTerm, searchDate = Model.searchDate })">
                            <i class="fas fa-angle-double-right"></i>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    }
}
else
{
    <div class="alert alert-warning" role="alert">
        Xin lỗi! Không tìm thấy dữ liệu!
    </div>
}